* {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.logo {
  align-self: center;
  width: 300px;
}

.answers > button {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.black-border {
  border: 3px solid black;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}
